* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

#yesBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 80px;
    font-size: 24px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#noBtn {
    background-color: #f44336;
    color: white;
    border: none;
    font-size: 24px;
    width: 80px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#response {
    font-size: 2.5rem;
    color: #4CAF50;
    font-weight: bold;
}
#meFaceSad {
    width: 200px;
}